.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 840px) {
  .pie {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .chart {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (max-width: 1260px) {
  .chart {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.btn:link {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}
.btn:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none !important;
  border: none !important;
}

.btn {
  width: 90%;
  margin-left: 5%;
  padding: 10px;
  cursor: pointer;
  font-size: 1.3em;
  /* text-decoration: underline; */
  color: pink;
  margin-bottom: 85px;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}
.btn:active {
  color: pink;
  background-color: transparent;
  text-decoration: none;
  border: none;
}

nav {
  background-color: #000;
  color: #d6d0b1;
  height: 120px;
  margin-bottom: 100px;
  margin-top: 0;
  padding: 50px;
  text-align: center;
}

nav h1 {
  margin: 0;
  font-size: 4em;
}

footer {
  background-color: #000;
  color: #d6d0b1;
  height: 120px;
  margin: 0;
  margin-top: 150px;
  font-size: 1.2em;
  padding-top: 100px;
  text-align: center;
}

.title {
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Source Code Pro', monospace; */
  /* font-family: 'Libre Barcode 128 Text', cursive; */
  font-family: "Cinzel", serif;
  /* font-family: "Great Vibes", cursive; */
}

.subtitle {
  font-family: "Cinzel", serif;
}

.subtitle-link {
  font-family: "Cinzel", serif;
}

.subtitle-link:hover {
  color: pink;
  /* background-color: transparent; */
  /* text-decoration: underline; */
}

@import url("https://fonts.googleapis.com/css?family=Oswald");
html,
body {
  height: 100%;
}

/* body {
  background-color: #1d1e22;
} */

.spinner-wrapper {
  /* position: fixed; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner-wrapper .spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  font-family: "Oswald";
  font-size: 1rem;
  color: gainsboro;
}
.spinner-wrapper .spinner .fragment {
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 4.5rem;
  height: 4.5rem;
  border: 0.25rem solid transparent;
  border-top: 0.25rem solid #8dc63f;
  border-radius: 50%;
  mix-blend-mode: screen;
  animation: rotate 2.5s linear infinite;
}
.spinner-wrapper .spinner .fragment:first-of-type {
  animation: rotate 1.5s ease-in-out infinite;
  border-top-color: #00aeef;
}
.spinner-wrapper .spinner .fragment:last-of-type {
  animation: rotate 2s ease-in-out infinite;
  border-top-color: #ec008c;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
